.container {
    margin-bottom: 5%;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.buy-now-buuton {
    background-image: linear-gradient(to bottom, pink, deeppink);
    cursor: pointer;
    padding: 9px 25px;
    border: none;
    color: white;
}